:root {
  --primary-text-color: #212121;
  --primary-text-color-white: #ffffff;
  --primary-background-color: #ffffff;
  --accent-color: #2196f3;
  --font-botton-text: 'Roboto';
  --font-text: 'Roboto';
  --font-style: normal;
  --font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-raleway: 'Raleway', sans-serif;
  --background-color-footer: #2f303a;
  --transition-color-kit: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bgc-color-kit: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-box-shadow-kit: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration-cubic-bezier-kit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border-color-color-kit: border-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bgc-color-box-shadow-kit: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.page-header {
  border-bottom: 1px solid #ececec;
  width: 1600px;
}

.logo-text {
  font-family: var(--font-family-raleway);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-color-text {
  font-family: var(--font-family-raleway);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-color-text-footer {
  font-family: var(--font-family-raleway);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo-footer {
  padding-top: 60px;
  display: flex;
}

.footer-social-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.block-address {
  margin-right: 70px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.nav-item {
  display: block;
  position: relative;

  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:link {
  content: '';
  display: block;
  color: var(--accent-color);
  opacity: 1;
}

.nav-main {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.nav-contact-us-header {
  display: flex;
  margin-left: auto;
}

.nav-contact-us-item {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-contact-us-item:not(:last-child) {
  margin-right: 50px;
}

.filter-button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.button-prtfl {
  background-color: #f5f4fa;
  cursor: pointer;
  justify-content: center;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  margin-right: 8px;
  border: transparent;
  border-radius: 4px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

  transition: var(--transition-bgc-color-box-shadow);
}

.button-prtfl:last-child {
  margin-right: 0;
}

.button-prtfl:hover,
.button-prtfl:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

.link-header {
  color: #212121;
  font-size: 14px;
  display: block;
  position: relative;

  transition: var(--transition-color-kit);

  padding: 32px 0;
}

.link-header.active-link-header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  opacity: 1;
  height: 4px;

  border-radius: 2px;

  transition: var(--transition-color-kit);
}

.link-header:hover,
.link-header:focus {
  opacity: 1;
  color: var(--accent-color);
}

.button-buy {
  display: inline-block;
  min-width: 200px;
  color: #ffffff;
  font: var(--font-botton-text);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  padding: 10px 32px;
  margin-bottom: 0;
}

.contact-us-header {
  color: #757575;
  font-size: 14px;
  fill: currentColor;
  align-items: center;
  justify-content: center;

  transition: var(--transition-color-kit);
}

.contact-us-header:hover,
.contact-us-header:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.footer {
  background-color: var(--background-color-footer);
  min-height: 252px;
  width: 1600px;
}

.address-footer {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 9px;
}

.contact-us-footer {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: var(--transition-color-kit);
}

.contact-us-footer:hover,
.contact-us-footer:focus {
  color: var(--accent-color);
}

.value-p-list {
  display: flex;
  flex-wrap: wrap;
}

.value-list {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 0;
}

.icon-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon {
  width: 70px;
  height: 70px;
}

.value-list:last-child {
  margin-right: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.what-we-do-item {
  width: 370px;
  margin-right: 30px;
}

.what-we-do-item:last-child {
  margin-right: 0;
}

.what-we-do-thumb {
  position: relative;
}

.what-we-do-p {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-text {
  display: flex;
  align-items: center;
}

.section-our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.our-team-person {
  font-family: var(--font-family-roboto);
  font-style: var(--font-style);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team-title {
  font-family: var(--font-text);
  font-style: var(--font-style);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.our-team-item {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  background-color: #ffffff;
  border-bottom: transparent;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.our-team-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: currentColor;
  color: #afb1b8;
  transition: var(--transition-bgc-color-kit);
}

.social-icon-list:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.social-icon-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: currentColor;
  color: #ffffff;

  transition: var(--transition-bgc-color-kit);
}

.social-icon-list-footer:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.social-icon-item {
  margin-right: 10px;
}

.social-icon-item:last-child {
  margin-right: 0;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.product-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  transition: var(--transition-box-shadow-kit);
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product-item:hover {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}

.product-item-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.product-item-thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 1;

  transform: translateY(+100%);

  transition: var(--transition-duration-cubic-bezier-kit);
}

.product-item-thumb:hover.product-item-thumb::before {
  transform: translateY(0);
}
.product-item-overlay-text {
  position: absolute;
  display: block;
  width: 370px;
  height: 294px;
  left: 0;
  bottom: 0;
  padding: 63px 24px;

  transform: translateY(+100%);
  transition: transform 250ms;

  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-white);
}

.product-item-thumb:hover .product-item-overlay-text {
  transform: translateY(0);
}

.prtfl-card-title {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  text-align: left;
}

.prtfl-filtr-description {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
  padding-left: 24px;
}

.section-buy {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/section-buy-img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  min-height: 600px;
  padding-top: 200px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.products-border {
  border-bottom: 10px solid #eeeeee;
}

.main-title {
  font-family: var(--font-family-roboto);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.effective-decision {
  text-align: center;
}

.title-company-value {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

.text-paragraph {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.list-our-team {
  margin: 0;
  padding: 0;
}

.our-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-client-list {
  display: flex;
  flex-wrap: wrap;
}

.our-client-item {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: #afb1b8;

  transition: var(--transition-border-color-color-kit);
}

.our-client-item:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.client-list {
  margin-right: 30px;
}

.client-list:last-child {
  margin-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  max-width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-close-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: auto;
  margin: 0;
  transition: var(--accent-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-text-color-white);
}

.icon-close-modal:hover,
.icon-close-modal:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.form-field:focus-within > .form-field-icon {
  color: var(--accent-color);
  border: 1px solid #2196f3;
  outline: 1px solid #2196f3;
  fill: var(--accent-color);
  border-radius: 4px;
  outline-style: 'none';
}

.form-field-icon:focus-within {
  color: var(--accent-color);
}

.field-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 25%;
  margin-left: 15px;
}

.form-modal {
  width: 100%;
  height: 100%;
  padding: 40px 39px 40px 41px;
}

.form-field-name {
  position: absolute;
  top: -16px;
  left: 0;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field {
  position: relative;
  margin-top: 28px;
  margin-bottom: 0;

  transition: outline var(--accent-color), fill var(--accent-color);
}

.form-field:focus-within {
  border: none;
  outline: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  height: 120px;
  width: 448px;

  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  color: rgba(117, 117, 117, 0.5);

  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 0;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  resize: none;
}

.textarea:focus-within {
  border: none;
  outline: 1px solid var(--accent-color);
  fill: var(--accent-color);
  border-radius: 4px;
  color: var(--primary-text-color);
}

.form-field textarea::placeholder {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin: 16px;
}

.form-title {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-bottom: 2px;
}

.form-footer {
  display: flex;
  position: relative;
  margin-left: 93px;
}

.form-footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: var(--background-color-footer);
}

.form-footer-input:focus-within {
  color: var(--primary-text-color-white);
}

.form-title-footer {
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.button-subscribe-footer {
  display: flex;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.form-field-footer {
  position: absolute;
  margin-top: 20px;
}

.button-subscribe {
  position: absolute;
  left: 370px;
  margin-top: 20px;
}

.icon-subscribe {
  margin-left: 10px;
}

.link-agreement {
  display: inline-block;
  margin-left: 5px;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  cursor: pointer;
}

.text-agreement {
  display: inline-block;
  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 23px;
}

.checkbox-item {
  display: inline-block;
}

.option {
  display: flex;
  align-items: center;
}

.check-input {
  position: absolute;
  appearance: none;
  display: flex;
  align-items: center;
}

.check-box {
  position: absolute;

  width: 16px;
  height: 15px;
  background-color: var(--primary-background-color);
  background-image: none;
  border: 2px solid var(--primary-text-color);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
}

.check-input:checked + .check-box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(/images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.button-submit-form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
}

.button-submit-form-modal {
  display: inline-block;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: var(--font-family-roboto);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-white);
}

.form-input-modal {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
